iMarket 13/iMarket.json
[
    {
        "id": "a5e1a0d64598f265",
        "type": "tab",
        "label": "iMarket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cf572791498a786",
        "type": "http in",
        "z": "a5e1a0d64598f265",
        "name": "",
        "url": "/post_imarket",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "32def296fa1c9261"
            ]
        ]
    },
    {
        "id": "f41d9a83835ffc0c",
        "type": "http response",
        "z": "a5e1a0d64598f265",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "be13f635ac44ac86",
        "type": "debug",
        "z": "a5e1a0d64598f265",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "e7b0288d70352436",
        "type": "cloudantplus in",
        "z": "a5e1a0d64598f265",
        "name": "",
        "cloudant": "ba6208bd58753135",
        "database": "imarket",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "e1b441ee5ee1f162",
                "1b27c7e957b6f3e5"
            ]
        ]
    },
    {
        "id": "4224626795e489c4",
        "type": "http in",
        "z": "a5e1a0d64598f265",
        "name": "",
        "url": "/getAll_imarket",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "e7b0288d70352436"
            ]
        ]
    },
    {
        "id": "e1b441ee5ee1f162",
        "type": "http response",
        "z": "a5e1a0d64598f265",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "1b27c7e957b6f3e5",
        "type": "debug",
        "z": "a5e1a0d64598f265",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "32def296fa1c9261",
        "type": "cloudantplus out",
        "z": "a5e1a0d64598f265",
        "name": "",
        "cloudant": "ba6208bd58753135",
        "database": "imarket",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "f41d9a83835ffc0c",
                "be13f635ac44ac86"
            ]
        ]
    },
    {
        "id": "33fd194691700fdb",
        "type": "ibmiot in",
        "z": "a5e1a0d64598f265",
        "authentication": "apiKey",
        "apiKey": "9818edee9d7472d1",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "0ac663867ccf5a5a"
            ]
        ]
    },
    {
        "id": "4aeaa836cadf44bc",
        "type": "debug",
        "z": "a5e1a0d64598f265",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "b940c7f9a7b1f78d",
        "type": "cloudantplus out",
        "z": "a5e1a0d64598f265",
        "name": "",
        "cloudant": "d257d405957c7e92",
        "database": "imarket",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "4aeaa836cadf44bc"
            ]
        ]
    },
    {
        "id": "0ac663867ccf5a5a",
        "type": "rbe",
        "z": "a5e1a0d64598f265",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "b940c7f9a7b1f78d"
            ]
        ]
    },
    {
        "id": "221bc206b42e7b61",
        "type": "http in",
        "z": "a5e1a0d64598f265",
        "name": "",
        "url": "/delete_imarket",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "763b7ad44a20a0a5"
            ]
        ]
    },
    {
        "id": "945def34cc80074d",
        "type": "http response",
        "z": "a5e1a0d64598f265",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 680,
        "wires": []
    },
    {
        "id": "b48056a612566f84",
        "type": "debug",
        "z": "a5e1a0d64598f265",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "763b7ad44a20a0a5",
        "type": "cloudantplus out",
        "z": "a5e1a0d64598f265",
        "name": "",
        "cloudant": "ba6208bd58753135",
        "database": "imarket",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "945def34cc80074d",
                "b48056a612566f84"
            ]
        ]
    },
    {
        "id": "ca7a5a55c287cfed",
        "type": "http in",
        "z": "a5e1a0d64598f265",
        "name": "",
        "url": "/postAll_imarket",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "c7bb219b751c4f1f"
            ]
        ]
    },
    {
        "id": "5fbe0b1c885c7f3a",
        "type": "http response",
        "z": "a5e1a0d64598f265",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "8677d7494cff6853",
        "type": "debug",
        "z": "a5e1a0d64598f265",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "e6446fbdf7aaec37",
        "type": "cloudantplus out",
        "z": "a5e1a0d64598f265",
        "name": "",
        "cloudant": "ba6208bd58753135",
        "database": "imarket",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "5fbe0b1c885c7f3a",
                "8677d7494cff6853"
            ]
        ]
    },
    {
        "id": "c7bb219b751c4f1f",
        "type": "function",
        "z": "a5e1a0d64598f265",
        "name": "function 1",
        "func": "let newmsg = msg;\nif (Array.isArray(msg.payload)) {\n    newmsg = [msg.payload.map(user => ({ payload: user }))];\n}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "e6446fbdf7aaec37"
            ]
        ]
    },
    {
        "id": "ba6208bd58753135",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1wqtkdecj91p0xubqpub22zkz98dy0ez8qp8bw9b6tx:9677f52c2107fc5f105e98c7035acacf@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "gabrielvargas",
        "useapikey": true
    },
    {
        "id": "9818edee9d7472d1",
        "type": "ibmiot",
        "name": "gabrielvargas",
        "keepalive": "60",
        "serverName": "6afnv6.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "d257d405957c7e92",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1wqtkdecj91p0xubqpub22zkz98dy0ez8qp8bw9b6tx:9677f52c2107fc5f105e98c7035acacf@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "gabrielvargas",
        "useapikey": true
    }
]